*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;           
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: #A59678;
    font-size: 2.75rem;
    font-weight: 800;
    line-height: 1.2em;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2em;
}

h3 {
    color: #A59678;
    font-family: 'Oswald', sans-serif;
    font-size: 1.25rem;
    font-weight: 100;
}

h4 {
    color: #A59678;
    font-family: 'Oswald', sans-serif;
    font-size: 1.25rem;
    font-weight: 100;
}

span {
    color: #fff;
}

img {
    max-width: 100%;
}

.headerContainer {
    background-color: #3B4050;
    margin: 0 auto;
}

.header--list {
    margin: 0 auto;
    padding: 0;
    list-style: none; 
    text-align: center;    
}

.header--listItem {
    margin-bottom: 1em;
}

.nav {
    font-size: 1rem;
    visibility: hidden;
    height: 0;
    position: absolute;
    padding: 1em;
}

/*.header--nav {
    visibility: visible;
    height: auto;
    position: relative;
}*/

.listItem--link {
    color: #fff;
    text-decoration: none;
}

.listItem--link:hover,
.listItem--link:focus {
    opacity: .75;
}

.listItem--button {
    border-radius: 100px;
    color: #fff;
    padding: .24em .75em;
    background-color: #A59678;
}

.nav-container {
    background-color: #2E323F;
    font-size: 1rem;
    list-style: none;
    margin: auto 0;
    padding: 1em;
}

.nav-visible {
    visibility: visible;
    height: auto;
    position: relative;
  }  

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background-color: #A59678;
    transition: opacity 250ms ease;
    position: absolute;
    right: 0; 
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}

.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background-color: #fff;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.heroContainer {
    color: #fff;
    display: flex;
    padding: 1em;
}

.heroTitle {
    width: 100%;
}

.heroParagraph {
   margin-top: 3.75em;
    width: 100%;
}

.learnButton {
    display: inline-block;
    color: #fff;
    background-color: #A59678;
    border-radius: 100px;
    padding: .75em 2em;
    text-decoration: none;
}

.learnButton:hover,
.learnButton:focus {
    opacity: .75;
}

.logo {
    height: 30px;
}

.mainfirstSection {
    display: flex;
    background-color: #efefef;
    margin: 0 auto;
    padding: 4.5em 1em 4.5em 1em;
}

.mainsecSection {
    background-color: #fff;
    padding: 1em;
    margin: 0 auto;
}

.mainContent > h3 {
    margin: 0;
}

.asideContainer {
    display: block;
}

.asideDiv {
    background-color: #3B4050;
    color: #fff;
    margin-bottom: 1.2em;
    padding: 1em;
}

.footerContainer {
    font-size: 0.8rem;
    background-color: #3B4050;
    color: #fff;
    padding: 1em;
    margin: 0 auto;
}

.footerContainer > h2 {
    text-align: center;
}

.footerDiv {
    display: block;
    justify-content: space-around;
}

.divContent {
    text-align: center;
    padding: 0 120px 0 120px;
    width: 100%;
}

.divContent > h4{
    margin: 0;
}


/*Media Queries********************************/

@media (min-width: 800px) {
    .

    .mainfirstSection {
        display: flex;
        justify-content: space-around;
    }

    .mainContent + .mainContent {
        margin-left: 25px;
    }

    .asideContainer {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .asideDiv + .asideDiv {
        margin-left: 25px;
    }

    .footerContainer > h2 {
        text-align: center;
    }

    .footerDiv {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .divContent {
        padding: 0;
        text-align: left;
    }

    .divContent + .divContent {
        margin-left: 3px;
    }


}

