*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: #A59678;
    font-size: 2.75rem;
    font-weight: 800;
    line-height: 1.2em;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2em;
}

h3 {
    color: #A59678;
    font-family: 'Oswald', sans-serif;
    font-size: 1.25rem;
    font-weight: 100;
}

h4 {
    color: #A59678;
    font-family: 'Oswald', sans-serif;
    font-size: 1.25rem;
    font-weight: 100;
}

span {
    color: #fff;
}

img {
    max-width: 100%;
}

.headerContainer {
    background-color: #3B4050;
    margin: 0 auto;
}

.header--nav {
    visibility: hidden;
    height: 0;
    position: relative;
}

.header--list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;
}

.header--listItem {
    margin-bottom: 1em;
}

.nav-container {
    background-color: #2E323F;
    font-size: 1rem;
    list-style: none;
    margin: auto 0;
    padding: 1em;
}

.nav {
    font-size: 1rem;
    visibility: hidden;
    height: 0;
    position: absolute;
    padding: 1em;
}

.nav-visible {
    visibility: visible;
    height: auto;
    position: relative;
}

.nav-toggle {
    cursor: pointer;
    background-color: #A59678;
    border: 0;
    border-radius: 50%;
    height: 3em;
    margin-right: 1em;
    padding: 0em;
    position: absolute;
    width: 3em;
    transition: opacity 250ms ease;
    right: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}

.hamburger {
    width: 50%;
    position: relative;
}

.listItem--link {
    color: #fff;
    text-decoration: none;
}

.listItem--link:hover,
.listItem--link:focus {
    opacity: .75;
}

.listItem--button {
    border-radius: 100px;
    color: #fff;
    padding: .24em .75em;
    background-color: #A59678;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background-color: #fff;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.heroContainer {
    color: #fff;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.25em;
    width: 90%
}

.heroTitle {
    margin-top: 2.5em;
    text-align: center;
}

.heroParagraph {
    margin-bottom: 7.5em;
    text-align: center;
}

.heroParagraph>p {
    margin-bottom: 1.5em;
    text-align: center;
}

.learnButton {
    color: #fff;
    background-color: #A59678;
    border-radius: 100px;
    padding: .7em .7em;
    text-decoration: none;
}

.learnButton:hover,
.learnButton:focus {
    opacity: .75;
}

.logo {
    height: 30px;
}

.mainContainer {
    background-color: #ebebea;
}

.mainSection {
    margin: 0 auto;
    padding: 5em 2em;
    text-align: center;
}

.subSection {
    background-color: #fff;
    padding: 5em 2em;
    margin: 0 auto;
}

.mainContent>h3 {
    margin: 0;
}

.asideContainer {
    display: block;
}

.asideDiv {
    background-color: #3B4050;
    color: #fff;
    margin-bottom: 1.2em;
    padding: 1em;
}

.footerContainer {
    font-size: 0.8rem;
    background-color: #3B4050;
    color: #fff;
    padding: 1em;
    margin: 0 auto;
}

.footerSection > h2 {
    text-align: center;
}

.footerDiv {
    display: block;
    justify-content: space-around;
}

.divContent {
    text-align: center;
    padding: 0 120px 0 120px;
    width: 100%;
}

.divContent > h4 {
    margin: 0;
}


/*Media Queries 800px********************************/
@media (min-width: 800px) {
    .heroContainer {
        display: flex;
        padding: 5em 2em;
    }

    .mainSection {
        display: flex;
        justify-content: space-around;
    }

    .mainContent {
        padding: 2em 0;
    }

    .mainContent+.mainContent {
        margin-left: 40px;
    }

    .asideContainer {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .asideDiv+.asideDiv {
        margin-left: 25px;
    }

    .footerContainer > h2 {
        text-align: center;
    }

    .footerDiv {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .divContent {
        padding: 0;
        text-align: left;
    }

    .divContent + .divContent {
        margin-left: 3px;
    }

    .divContent > ul {
        list-style: none;
    }

}
/*Media Queries 1200px********************************/
@media (min-width: 1200px) {
    .mainSection {
        max-width: 1200px;
    }

    .subSection {
        display: flex;
        justify-content: space-around;
        max-width: 1200px;
    }

    .subSectionContent {
        margin-right: 5em;
        width: 180%;
    }

    .asideContainer {
        display: block;
        margin-left: 5em;
        width: 90%;
    }

    .asideDiv + .asideDiv {
        margin-left: 0px;
    }

    .footerSection {
        max-width: 1200px;
        margin: 0 auto;
    }

    .footerDiv {
        display: flex;
    }

    .divContent {
        padding: 0 5em 0 5em;
    }

    ul {
        list-style: none;
    }
}